.main{
  background-image: url(/assets/main.jpg);
  background-size: cover;
  height: 40vh;
}

.section1{
  background-image: url(/assets/bg1.jpg);
  height: 30vh;
  background-attachment:fixed;
  background-size: cover;
  border-top-width: 8px;
border-top-style: solid;
border-top-color: #000000;
}

.section2{
  background-image: url(/assets/bg2.jpg);
  height: 30vh;
  background-attachment:fixed;
  background-size: cover;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #000000;
}

a{
  color:white;
}

.imagenes{
  height: 130px;
  width: 260px;
}

.glow{
color: #FFFFFF;
text-shadow: 0 0 10px #FFFFFF;
}

.tri{
  color: #FFFFFF;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.shadow{
  color: white;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
